<template>
  <div>
    <div
      ref="canvas"
      class="main-map"
    ></div>

    <div v-if="state.world">
      <diV class="world-actions">
        <button @click="state.world.initialPlants()">Replant</button>
        <button @click="state.world.stop()">Stop</button>
        <button @click="state.world.run()">Start</button>
      </diV>
      <div class="plants-list">
        <span
          v-for="(plant, index) in state.world.plants"
          :key="`plant-${index}`"
          :style="{
            backgroundColor: plant.baseColor
          }"
        >
          E{{ round(plant.energy) }} - A{{ plant.age }}/{{ plant.maxAge }}
        </span>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import {
  defineComponent,
  onMounted,
  reactive,
  computed
} from "@vue/composition-api";
import { World } from "./World";

export default defineComponent({
  // type inference enabled
  name: "Canvas",
  setup(initProps, setupContext) {
    const refs = setupContext.refs;

    const state: {
      world: null | World;
    } = reactive({
      world: null
    });

    onMounted(() => {
      const canvas = refs.canvas as HTMLElement;
      state.world = new World(canvas, 30);
    });

    const round = (value: number) => {
      return Math.round(value);
    };

    return {
      state,
      round
    };
  }
});
</script>
<style lang="scss">
.main-map {
  height: 300px;
}

.plants-list {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
</style>
