<template>
  <div id="app">
    <canvas-pane />
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import CanvasPane from "@/components/canvas.vue";

export default Vue.extend({
  name: "App",
  components: {
    CanvasPane
  }
});
</script>

<style>
body {
  background: #304457;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
